<div class="container container-show mt-5">
  <div class="book">
    <%= link_to "Back", dashboard_path, class: "btn btn-secondary" %>
  </div>
  <div class="card-trip" data-aos="fade-right" data-aos-duration="1750">
    <%= image_tag 'fond profil.jpg' %>
    <div class="card-trip-infos">
      <%= image_tag @governess.user.picture, class:"card-trip-user avatar-bordered" %>
      <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
      <div class="name">
        <h1>
          <%= @governess.user.firstname %>
          <%= @governess.user.lastname %>
        </h1>
      </div>
      <h2 class="card-trip-pricing">
        <%=@governess.price%>€/jour</h2>
    </div>
    <div class="card-trip-infos2">
      <div class="localisation">
        <h2>Localisation</h2>
        <p>
          <%=@governess.location%>
        </p>
      </div>
      <div class="">
        <h2>Description</h2>
        <p>
          <%= @governess.description %>
        </p>
      </div class="chat">
      <%= image_tag 'chat.png', class: "img-style2", data: {toggle: "tooltip", placement: "top"}, title: "Send a Message" %>
    </div>
  </div>
  <div class="card-trip1" data-aos="fade-left" data-aos-duration="1750">
    <div class="mamad-flex">
      <div class="img-style-effect" data-aos="fade-left" data-aos-duration="1000">
        <%= image_tag 'certif.png', class: "img-style", data: {toggle: "tooltip", placement: "top"}, title: "Certification" %>
      </div>
      <div class="img-style-effect" data-aos="fade-left" data-aos-duration="1500">
        <%= image_tag 'menage.png', class: "img-style", data: {toggle: "tooltip", placement: "top"}, title: "Household" %>
      </div>
      <div class="img-style-effect" data-aos="fade-left" data-aos-duration="2000">
        <%= image_tag 'cuisine.png', class: "img-style", data: {toggle: "tooltip", placement: "top"}, title: "Cooking" %>
      </div>
      <div class="img-style-effect" data-aos="fade-left" data-aos-duration="2500">
        <%= image_tag 'bébé.png', class: "img-style", data: {toggle: "tooltip", placement: "top"}, title: "Baby accepted" %>
      </div>
    </div>
    <%# Calendar %>
    <div class="container container-calendar">
      <div class="form-wrapper" id='form-update' style="width: 400px; margin: 0 auto;">
        <h2>Update your Reservation</h2>
        <ul>
          <li>Checkin: <%= @booking.checkin %></li>
          <li>Checkout: <%= @booking.checkout %></li>
          <li>Location: <%= @booking.location %></li>
        </ul>
      </div>
        <div><%= link_to 'Delete your booking', booking_path(@booking), method: :delete, class: 'btn btn-warning' %></div>
        <!-- a href="#" class='btn btn-warning' id='update-booking'>Delete your booking</a> -->
        <div class='form-container-update'>
          <%#= simple_form_for @photographer, :url => savenew_photographers_path, :method => :patch ... # etc%>
        <%#= simple_form_for [@governess, @booking ]  do |f| %>
        <%#= f.input :checkin, as: :string, placeholder: "Select Date..",required: true, input_html: {class: "datepicker"} %>
        <%#= f.input :checkout, as: :string, placeholder: "Select Date..",required: true, input_html: {class: "datepicker"} %>
        <%#= f.button :submit, "Book now", class: "btn btn-flat-calendar alert_booking" %>
        <%# end %>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
