<div>
  <% Booking.each do |booking| %>
          <div class="d-flex">
            <div class="left-side row d-flex justify-content-around ml-3">
              <%= link_to governess_path(booking.governess_id) do %>
                <div class="cards-bookings">
                  <%= image_tag booking.user.picture %>

                  <div class="card-bookings-infos">
                    <h2>Mission is starting on: <%=   booking.checkin %></h2>
                    <h2>Missions is ending: <%= booking.checkout %></h2>
                    <p>Location: <%= location %></p>
                    <p id= "price"><%= booking.total_price %> €</p>
                    <button name="button" type="" class="btn btn-secondary"><i class=""></i>Decline</button>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <%end %>
</div>

