
<div class="banner-index-governesses" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/agazielly/image/upload/v1566379607/ran-berkovich-MtvmcxQY7EM-unsplash_svzrkq.jpg);">
  <div class="container-search">
    <%= form_tag governesses_path, method: :get do %>
       <div class=" mb-2">
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Select a location..."
        %>
        </div>
        <div class="mb-2">
        <%= text_field_tag :category,
          params[:category],
          class: "form-control",
          placeholder: "Select a category..."
          %>
          </div>
        <div class="mb-2">

          </div>
      <div class="button-search">
      <%= submit_tag "Search", class: "btn-flat" %>
      </div>
    <% end %>
  </div>

  </div>
</div>

<div class="d-flex">
  <div class="container">
  <div class="left-side row d-flex justify-content-around">
    <% @governesses.each do |governess| %>
    <%= link_to governess_path(governess, query: params[:query]) do %>
      <div class="cards-governess">
      <%= image_tag governess.user.picture %>
        <!-- <img src=<%= governess.user.picture %>/> -->
        <div>
          <div class="card-governess-infos">
            <h2><%= governess.user.firstname %> <%= governess.user.lastname %></h2>
            <p><%=governess.location%></p>
          </div>
        <div class="card-governess-price d-flex justify-content-end">
            <h2><%=governess.price%>€/jour</h2>
          </div>
        </div>
    </div>
  <% end %>
  <%end%>
  </div>
</div>

  <div class="right-side">
    <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_KEY'] %>">
    </div>
  </div>

</div>
<!--
<div class="container">
  <%# @governesses.each do |governess| %>
  <div class="cards-governess col-4 pt: 4px">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-governess-infos">
      <h2><%#= governess.user.firstname %> <%#= governess.user.lastname %></h2>
      <p>governess.description</p>
    </div>
  </div>
  <%#end%>
</div> -->

